.wsbtn {
  padding: 11px 14.4px;
  background: #2e3237;
}

.wsbtn span {
  display: none;
}

.wsbtn-play::before {
  content: '';
  background: url('../img/play-solid.svg') no-repeat;
  width: 12px;
  height: 15.4px;
  display: block;
}

.wsbtn-pause::before {
  content: '';
  background: url('../img/pause-solid.svg') no-repeat;
  width: 12px;
  height: 15.4px;
  display: block;
}
